.seat {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seatContainer {
  position: relative;
  width: 40px;
  height: 32px;
}

.seatContainer svg {
  display: block;
  margin: auto;
}

.seatNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 12px;
  color: #333; // Adjust color as needed
}

.available {
  fill: #00b300;
}

.booked {
  fill: #ff0000;
}
