@media (min-width: 360px) {
  .wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media (min-width: 480px) {
  .wrapper {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (min-width: 768px) {
  .wrapper {
    padding-left: 6.25%;
    padding-right: 6.25%;
  }
}

@media (min-width: 1200px) {
  .contentWrapper {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
  }
}
.wrapper {
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: inset 0 -0.0625rem 0 0 hsl(201, 28%, 92%);
}
.layoutWeb {
}
.layoutWebWrapper {
  overflow: hidden;
  min-height: 48px;
  -webkit-overflow-scrolling: touch;
  display: flex;
}
.layoutWebMain {
  position: relative;
  display: inline-block;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: 0;
  width: 100%;
}
.tabList {
  display: flex;
}
.tabItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 100%;
  text-decoration: none;
  color: inherit;
  font-size: 0.875em;
  line-height: 1.142857143;
  text-transform: none;
  font-weight: bold;
  max-width: 240px;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  white-space: normal;
  text-align: center;
  color: hsl(206, 48%, 24%);
  font-size: 1em;
  line-height: 1.25;
  text-transform: none;
  min-width: 240px;
  min-height: 64px;
  padding: 20px 16px;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  max-width: none;
  &.active {
    opacity: 1;
    color: hsl(207, 98%, 40%);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
}

.tabLabel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;

  & > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.tabIndicator {
  left: 0px;
  position: absolute;
  height: 2px;
  bottom: 0;
  width: 50%;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: hsl(207, 98%, 40%);
}
.right {
  right: 0;
  left: 50%;
}
