.wrapper {
  position: fixed;
  z-index: 1300;
  inset: 0px;
  font-family: CodecPro;
}
.backdrop {
  z-index: -1;
  position: fixed;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  inset: 0px;
  background-color: rgba(229, 236, 240, 0.7);
  -webkit-tap-highlight-color: transparent;
  background: radial-gradient(ellipse at 0% 100%, hsl(191, 100%, 97%) 0%, hsl(194, 100%, 92%) 100%);
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  height: 100%;
  outline: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  opacity: 1;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  border: 0.0625rem solid rgb(229, 236, 240);
  background-color: rgb(255, 255, 255);
  box-shadow:
    rgba(32, 65, 91, 0.1) 0px 1px 1px 0px,
    rgba(32, 65, 91, 0.1) 0px 12px 16px 0px;
  border-radius: 1.5rem;
  margin: 48px 24px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 48px);
  max-width: 444px;
  width: calc(100% - 48px);
  border-radius: 24px;
}
.headingCloseable {
  position: relative;
  margin: 0px;
  flex: 0 0 auto;
  padding: 0px 52px 0px 16px;
}
.btnClose {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  border: 0px;
  margin: 0px;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-size: 100%;
  text-decoration: none;
  border-radius: 0.375rem;
  padding: 4px;
  color: rgb(32, 65, 91);
  background: rgba(143, 172, 193, 0.1);
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 2;
}
.content {
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;
  padding: 36px 24px 0px 16px;
  margin-bottom: 28px;
}
.contentInner {
  display: flex;
  flex-flow: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
  animation: 0.3s ease-in-out 0.15s 1 normal backwards running animation-125n9dx;
  position: relative;
}
.contentHeading {
  display: flex;
  flex-flow: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;

  margin-bottom: 20px;

  & > h2 {
    font-weight: 600;
    font-size: 2em;
    line-height: 1.125;
    letter-spacing: -0.02em;
    text-transform: none;
    text-align: center;
  }
}
.main {
  display: flex;
  flex-flow: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
  margin-top: 16px;
  padding-top: 32px;
}
.labelTextOr {
  --chip-border-color: hsla(206, 32%, 39%, 0.2);
  --chip-color: hsl(206, 48%, 24%);
  --chip-icon-color: hsl(205, 25%, 53%);
  --chip-hover-border-color: hsla(204, 26%, 86%, 0.85);
  --chip-hover-color: hsl(206, 32%, 39%);
  --chip-hover-icon-color: hsl(205, 25%, 53%);
  --chip-active-border-color: hsl(204, 30%, 76%);
  --chip-active-color: hsl(206, 48%, 24%);
  --chip-active-icon-color: hsl(205, 25%, 53%);
  margin-bottom: 16px;

  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: inherit;
  color: var(--chip-color);
  align-self: center;
  min-height: 24px;
  border-style: solid;
  border-width: 0.0625rem;
  border-radius: 999px;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px;
  background: var(--chip-background);
  border-color: var(--chip-border-color);
  padding: 3px 9px;

  & > span {
    font-size: 0.75em;
    text-transform: none;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.33333 !important;
  }
}

.hr {
  --hz-Divider-color: hsla(205, 29%, 66%, 0.2);
  --hz-Divider-thickness: 0.0625rem;
  --hz-Divider-rounding: 999px;
  border: 0px;
  margin: 0px;
  border-radius: var(--hz-Divider-rounding);
  background-color: var(--hz-Divider-color);
  height: var(--hz-Divider-thickness);
}
.footer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 24px 0px;
}

.footerInner {
  font-size: 1em;
  line-height: 1.25;
  text-transform: none;
  font-weight: 500;
  text-align: center;

  & a {
    font-size: 1em;
    line-height: 1.25;
    text-transform: none;
    font-weight: 500;
    text-align: center;
    vertical-align: baseline;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;
    appearance: none;
    text-decoration: none;
    color: rgb(2, 112, 202);
  }
}
/*  */
.btnWrapper {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1.125em;
  line-height: 1.11111;
  text-transform: none;
  font-weight: 500;
  border-radius: 0.375rem;
  padding: 0.875rem 1.25rem;
  width: 100%;
  color: rgb(255, 255, 255);
  text-align: left;
  background: rgb(24, 119, 242);
  margin-bottom: 16px;
  margin-right: 0px;
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  border: 1px solid;
}
.btnInner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.btnIcon {
  margin-right: 8px;
  display: inherit;
  margin-bottom: 4px;
}
/*  */

.form {
  display: flex;
  flex-flow: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  align-items: stretch;
  animation: 0.3s ease-in-out 0.15s 1 normal backwards running animation-125n9dx;
}
.forgotPassword {
  font-size: 1em;
  line-height: 1.25;
  text-transform: none;
  font-weight: 500;
  text-align: center;
  vertical-align: baseline;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  cursor: pointer;
  appearance: none;
  text-decoration: none;
  color: rgb(2, 112, 202);
  margin-bottom: 28px;
}
